@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg: #000000;
  --bg1: #ffffff;
  --border-color: #333639;
  --text: rgb(231, 233, 234);
  --text1: #000000;
  --primary: rgb(29, 155, 240);
  
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
.container {
  overflow-x: hidden;
  font-family: 'Kanit', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg);
  /* position: relative; */
}

.container.inactive {
  background-color: var(--border-color);
  pointer-events: none;
}

.rightBox, 
.leftBox {
  width: 50%;
  height: 100%;
}

.leftBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 32px;
}

.rightBox h1,
.rightBox h2,
.rightBox h3,
.rightBox span {
  color: var(--text);
}

.rightBox h2 {
  margin-bottom: 24px;
}

.rightBox__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 4rem;
  max-width: 500px;
  line-height: 84px;
}


.rightBox__content__sBox__btnBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
}

.signupBtn1 {
  background-color: var(--bg1);
  color: var(--text1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.signupBtn1:hover {
  background-color: rgb(255, 255, 255, 0.8);
  transition: background-color 0.2s;
}

.minLogo {
  height: 20px;
}

.orLine {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.orLine div {
  width: 100%;
  height: 1px;
  background-color: var(--border-color);
}

.createAccountBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.createAccountBox p {
  color: grey;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.5px;
}

.signupBtn {
  background-color: var(--primary);
  color: var(--text);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.signupBtn:hover {
  background-color: rgb(29, 155, 240, 0.8);
  transition: background-color 0.2s;
}

.rightBox__content__lBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;

}

.loginBtn {
  color: var(--primary);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  width: 350px;
  border: 2px solid var(--border-color);
  cursor: pointer;
}

.loginBtn:hover {
  background-color: rgb(29, 155, 240, 0.1);
  transition: background-color 0.2s;
}

.formBox {
  display: none;
}

.formBox.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 700px;
  background-color: var(--bg);
  z-index: 10;
  border-radius: 20px;
  padding-block: 20px;
}

.closeForm {
  position: absolute;
  top: 20px;
  left: 20px;
  color: var(--text);
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.closeForm:hover {
  background-color: var(--border-color);
  transition: background-color 0.2s;
}

.logoForm > img {
  height: 28px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.formContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 450px;
  height: 100%;
  margin-top: 24px;
}

.formContent h2 {
  color: var(--text);
  font-size: 2rem;
}

.formInputBox {
  position: relative;
  width: 100%;
 }
 
.input {
  border: solid 1.5px var(--border-color);
  border-radius: 5px;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #f5f5f5;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
  width: 100%;
}

.formLabel {
  position: absolute;
  left: 15px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, input:valid {
  outline: none;
  border: 1.5px solid var(--primary);
}

.input:focus ~ label, input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: var(--bg);
  padding: 0 .2em;
  color: #2196f3;
}


.formBtn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 450px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  cursor: pointer;
}

.formBtn:hover {
  background-color: rgb(255, 255, 255, 0.8);
  transition: background-color 0.2s;
}